<%- include ('../partials/header.ejs')  %>
<%- include ('../partials/nav.ejs')  %>

<div class="container">
  <h2 class="mb-5">Adicionar novo post</h2>
  <div class="row">
    <form method="POST" action="/posts/add">
        <label>Titulo</label>
        <input class="form-control mt-2 mb-3" type="text" name="title">

        <label>Categoria</label>
        <select name="category_id" class="form-select mb-3">
          <option value="" selected disabled>Selecionar...</option>
          <% categories.forEach(({id, title}) => { %>
            <option value="<%= id %> "><%= title %> </option>
          <% }) %>
        </select>
        <label>Conteudo</label>
        <textarea class="form-control mt-2" name="body" rows="15" id="body"></textarea>
        
        <button class="btn btn-primary mt-3">Cadastrar</button>
    </form>
  </div>
</div>

<script src="/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
  selector: '#body',
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
  ],
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  language: 'pt_BR'
});
</script>

<%- include ('../partials/footer.ejs')  %>